Repository Luxcorel/weatherwear: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write --ignore-unknown

Update middleware.ts
  middleware.ts
Due: eslint, prettier --write --ignore-unknown

Changed error returns to match API documentation
  app/api/outfits/route.ts
  app/api/weather/route.ts
Due: eslint, prettier --write --ignore-unknown

Delete auth requirement for the geocoding endpoint
  app/api/geocoding/[name]/route.ts
Due: eslint, prettier --write --ignore-unknown

Create opengraph-image.png
  app/opengraph-image.png
Due: none

Update opengraph-image.png
  app/api/auth/[...nextauth]/opengraph-image.png
Due: none

Create manifest.json
  app/manifest.json
Due: prettier --write --ignore-unknown

Update opengraph-image.png
  app/api/auth/opengraph-image.png
Due: none

Delete opengraph-image.png
  app/api/auth/opengraph-image.png
Due: none

Revert "Create manifest.json"
  app/manifest.json
Due: prettier --write --ignore-unknown

Update package-lock.json
  package-lock.json
Due: prettier --write --ignore-unknown

Well, fixed spotify provider name
  auth-config.ts
Due: eslint, prettier --write --ignore-unknown

Added data preloading
  app/wardrobe/components/saved-clothing.tsx
  components/navbar.tsx
  components/preloadData.tsx
Due: eslint, prettier --write --ignore-unknown

Refactored code to use local components
  app/page.tsx
  app/profile/page.tsx
  app/wardrobe/components/edit-clothing.tsx
  components/locations/new-location-picker.tsx
  components/locations/saved-locations.tsx
  components/music-genre-selector.tsx
  components/outfit-suggestion/outfit-suggestion.tsx
  components/weather-info/weather-info.tsx
Due: eslint, prettier --write --ignore-unknown

General cleanup + added comments on backend endpoints
  app/api/clothes/[id]/route.ts
  app/api/clothes/route.ts
  app/api/geocoding/[name]/route.ts
  app/api/locations/[id]/route.ts
  app/api/locations/route.ts
  app/api/outfits/route.ts
  app/api/weather/route.ts
  app/globals.css
  app/layout.tsx
  app/page.tsx
  app/setup/page.tsx
  auth-config.ts
  lib/weather-api-requests.ts
  types/geocoding-types.ts
Due: eslint, prettier --write --ignore-unknown

Added readme, example .env, and schema.sql
  .env.example
  README.md
  schema.sql
Due: none

fix: remove broken authjs code
  auth-config.ts
Due: eslint, prettier --write --ignore-unknown

docs: revamp readme
  README.md
Due: none

docs: make dot usage more consistent
  README.md
Due: none

build: update vulnerable packages
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore: update glob to patched version
  package-lock.json
Due: prettier --write --ignore-unknown

chore(deps): update nextjs to patched version
  package-lock.json
Due: prettier --write --ignore-unknown

chore: upgrade next.js to 16
  .eslintignore
  app/api/clothes/[id]/route.ts
  app/api/geocoding/[name]/route.ts
  app/api/locations/[id]/route.ts
  app/page.tsx
  app/wardrobe/[id]/page.tsx
  auth-config.ts
  components/navbar.tsx
  db-config.ts
  eslint.config.mjs
  package-lock.json
  package.json
  pnpm-lock.yaml
  proxy.ts
  tsconfig.json
Due: eslint, prettier --write --ignore-unknown

fix: remove broken auth type import
  auth-config.ts
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --write --ignore-unknown

fix: update eslint config to new format
  eslint.config.mjs
Due: none

chore(deps): upgrade vulnerable packages
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

docs(readme): update requirements and setup
  README.md
Due: none

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier --write --ignore-unknown: any of: *.{json,js,ts,jsx,tsx,html}
